.container {
    background-color: rgb(253, 253, 253);
}

#showNotes {
    width: 600px;
    margin: 10px;
    padding: 5px;
}

.eachNote {
    /* border: solid 3px rgb(216, 253, 3);
    border-radius: 2px; */
    padding: 5px;
    margin: 5px;
}

#submit {
    margin-left: 5px;
}

h1 {
    background-color: #4267B2;
    padding: 8px;
}